# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set jing = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'https://jing-trang.googlecode.com/files/jing-20091111.zip',
          'hash': 'sha256=57690280aa6b5521b570aaa5fe77e1b48d84b2a1b0a24da62f9b982c4416908c',
},
        'db': {
          'host': 'localhost',
          'database': 'jing',
          'login': 'jing',
          'password': 'jing',
          'port': '5432',
        },
        'debug': False,
    },

}, merge=salt['pillar.get']('jing:lookup')) %}

